<section class="d-flex justify-content-center">
      <div class="card col-sm-8 p-3 mt-5 bg-transparent border-light">
        <!--formato card-borde/ancho/p-3 padding-->
        <div class="mb-4" style="text-align: center; color: rgb(0, 0, 0)">
          <h4 class="titulo">Iniciar Registro</h4>
        </div>
        <!-- Form -->
        <form class="row g-3 needs-validation" novalidate>
          <!-- nombre -->
          <div class="col-md-6">
            <label for="labelname" class="form-label" style="color: rgb(0, 0, 0)">Nombre</label>
            <!-- [(ngModel)]="boxNombre" No me detecta el ngModel-->
            <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="boxNombre" required #name="ngModel"/><!-- compruebo -->
            <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">Introduzca un nombre</div>
          </div>
          <!-- Apellidos -->
          <div class="col-md-6">
            <label for="labelapellido"class="form-label"style="color: rgb(0, 0, 0)">Apellidos</label>
            <input type="text" class="form-control"name="apellido" id="apellido" [(ngModel)]="boxApellido"/>
            <div class="valid-feedback">Correcto</div>
            <div class="invalid-feedback">Introduzca un apellido</div>
          </div>
          <!-- Correo Electronico -->
          <div class="col-md-6">
            <label for="labelcorreo" class="form-label" style="color: rgb(0, 0, 0)">Email</label>
            <input type="email" class="form-control" name="correo" id="correo" [(ngModel)]="boxCorreo">
            <div class="valid-feedback">Correcto</div>
            <div class="invalid-feedback">Introduzca un Correo</div>
          </div>
          <!-- ciudad -->
          <div class="col-md-3">
            <label for="labelciudad" class="form-label"style="color: rgb(0, 0, 0)">Ciudad</label>
            <input type="text"class="form-control"name="ciudad" id="ciudad" [(ngModel)]="boxCiudad"/>
            <div class="invalid-feedback">Por favor introduzca una ciudad.</div>
          </div>
          <!--codigo postal  -->
          <div class="col-md-3">
            <label for="labelCodigoPostal" class="form-label" style="color: rgb(0, 0, 0)">Codigo Postal</label>
            <input type="text"class="form-control" name="codigoPostal" id="codigoPostal" [(ngModel)]="boxCodigoPostal"/>
            <div class="invalid-feedback">Por favor introduzca un codigo postal.</div>
          </div>
          <!--contraseña  -->
          <div class="col-md-6">
            <label for="labelcontrasena" class="form-label" style="color: rgb(0, 0, 0)">Contraseña</label>
            <input type="text"class="form-control" name="contrasena" id="contrasena" [(ngModel)]="boxContrasena"/>
            <div class="invalid-feedback">Por favor, intentelo de nuevo.</div>
          </div>
          <!-- Aceptar Condiciones -->
          <div class="col-12 " >
            <div class="form-check ">
              <!-- [(ngModel)]="checkBox" da error al introducirlo" -->
              <input class="form-check-input"type="checkbox"/>
              <label class="form-check-label" for="invalidCheck"style="color: rgb(0, 0, 0)">Acepto terminos y condiciones</label>
              <div class="invalid-feedback">Por favor acepte los terminos y condiciones.</div>
            </div>
          </div>
        </form>
        <!-- Botones *Siempre fuera del form -->
          <div class="col-12" style="text-align: center">
            <button class="btn btn-light" type="submit" value="Registrar" (click)="registrarUsuario()">Registrar</button>
            <button class="btn btn-light" type="reset">Borrar</button>
          </div>


          <!-- Prueba ver que se recogen los usuarios y sus atributos -->
          <!-- <div *ngFor="let usuario of listaUsuarios; let i-index">
          <p> {{usuario.nombre}}</p>
          </div> -->
         <!--  <p *ngIf="registrado; else sinRegistrar"></p>
          <ng-template #sinRegistrar>
            nadie registrado
          </ng-template> -->

          <!-- prueba -->
        <!--   {{name.errors | json}} <br>
          {{name.valid}} -->

          <div>

          </div>
      </div>
    </section>