<footer class="container my-5 p-lg-5 bg-transparent ">
        <div class="container-fluid ">
          <div class="row text-lg-center text-white">
            <div class="col-xs-12 col-md-6 col-lg-4">
              <p class="bi bi-binoculars-fill" style="color: rgb(0, 0, 0); font-size: 16px; font-weight: bold;">SAILE</p>
              <div class="mb-2">
                <!--Enlace de email href "mailto:direcccion de correo"-->
                <a href="#"><img src="../../../assets/images/Recurso 3@0.5x.png" alt="SAILE"/></a>
              </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
              <p class="" style="font-size: 16px; color: rgb(0, 0, 0); font-weight: bold;">Contactos</p>
              <div class="mb-2">
                <!--Enlace de email href "mailto:direcccion de correo"-->
                <a href="mailto:dandi151@msn.com"><img src="../../../assets/images/logoCorreo.png" alt="correo"/></a>
              </div>
              <div>
                <!--Enlace de whassap, href="https://api.whatsapp.com//send?phone=numero de telefon"-->
                <a href="https://api.whatsapp.com//send?phone=618224955+&text=Hola estoy interesado en su oferta, querria mas informacion"
                  target="_blank"
                  ><img src="../../../assets/images/logoWhatsaap.png" alt="imagen_whatssap"
                /></a>
              </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
              <p style="font-size: 16px; color: rgb(0, 0, 0); font-weight: bold;">Redes sociales</p>
              <div class="mb-2">
                <!--Enlace de facebook, href="httpa://www.facebook.com "-->
                <a href="https://www.facebook.com/" target="_blank"
                  ><img src="../../../assets/images/facebook.png" alt="imagen_facebook"
                /></a>
              </div>
              <div>
                <!--Enlace de instagram"-->
                      <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/images/instagram.png" alt="imagen_intagram"></a>
              </div>
            </div>
          </div>
        </div>
      </footer>